/*
*= require flexslider
*= require store/spree_core
*/

.flexslider .hero, .section-header .hero {
  max-height: 200px;
  overflow: hidden;
}

.flexslider, .section-header {
  height: 257px;
}

#wrapper .section-header, .flexslider .feature {
  height: 257px;
}
