<div class="flexslider">
  <ul class="slides">
    <% Spree::HomePageFeature.published.each do |feature| %>
      <li class="feature <%= feature.style? ? feature.style : "" %>">
        <% if feature.image_file_name.present? %>
          <div class="feture-image-container">
            <%= image_tag feature.image.url %>
          </div>
        <% else %>
          <div class="hero padded vertical-margin">
            <h4><%= feature.title %></h4>
            <div><%= feature.body %></div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
